table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}
th, td {
    text-align: center;
    border: 2px solid #000000;
    padding: 8px;
}
th {
    background-color: rgb(117, 117, 240);
    font-weight: bold;
}
