body{
    background-color: rgb(81,81, 238);
    color: white;
}

a{
    font-family: Arial;
    cursor: pointer;
    text-decoration:  none;
    color: black;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav li{
    padding: 20px;
    display: flex;
}