
    body{
        background-color:  rgb(81, 81, 238);
    }

    nav{
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        margin-left: 450px;
        gap: 10px;

    }
    nav a{
        border-radius: 10px;
        border: 2px solid rgb(117, 117, 240);
        background-color: rgb(117, 117, 240);
        color: white;
        font-size: 22px;
        height: 50%;
        margin-top: 10px;
        width: 50%;
        padding: 8px;
        font-weight: bold;
        text-decoration: none;
        display: flex;
        justify-content: center;
    }

    h1{
        color: white;
        text-align: center;
    }
